<div class="form-group {{if @required "required"}}">
  {{#if this.label}}
    <label for={{this.input-id}}>
      {{this.label}}
    </label>
  {{/if}}
  <Input
    @data-test-labeled-input-field={{this.input-id}}
    @disabled={{this.disabled}}
    @id={{this.input-id}}
    @type={{this.type}}
    @value={{this.value}}
    @key-up={{fn @update this.value}}
  />
</div>