{{#if label}}
  <label for={{input-id}}>
    {{label}}
  </label>
{{/if}}
<Input
  @data-test-labeled-input-field={{this.input-id}}
  @disabled={{this.disabled}}
  @id={{this.input-id}}
  @type={{this.type}}
  @value={{this.value}}

  @key-up={{action update this.value}}
/>