{{#if label}}
  <label for={{input-id}}>
    {{label}}
  </label>
{{/if}}
<Input
  @data-test-labeled-input-field={{input-id}}
  @id={{input-id}}
  @type={{type}}
  @value={{mut this.value}}
  
  @key-up={{action update this.value}}
/>