{{#if this.headerText}}
  <header class="card-header">
    {{this.headerText}}
  </header>
{{/if}}

{{!--
  NOTE: if the onsubmit is written with any other case (onSubmit, for example)
  it will fail the `no-invalid-interactive` template linter rule
--}}
{{#if this.submitAction}}
  <form class="card-body centered" onsubmit={{this.submitAction}}>
    {{yield}}
  </form>
{{else}}
  <div class="card-body centered">
    {{yield}}
  </div>
{{/if}}