<header class="section">
  <h1>Calculate Individual Treasure</h1>
  <p>
    Here you can generate the treasure carried by an individual creature
  </p>
</header>
<section class="row">
  <div class="col-6">
    <Ui::LabeledInput
      @data-test-individual-cr-input="true"
      @input-id="cr-input"
      @label="Challenge Rating"

      @update={{action (mut cr)}}
    />
    <button data-test-calculate-reward-trigger type="button" {{action "selectCR"}}>
      Roll Dice
    </button>
  </div>
  <div class="col-4">
    <div class="card" data-test-individual-result-card>
      <div class="card-body">
        <h4 class="card-title">Roll Results</h4>
          <ul class="card-text left-lg-padding no-bullets">
            {{#if this.rewards}}
              {{#each this.rewards as |reward|}}
                <li>
                  {{roll-format reward.rolls}} = {{currency-format reward.total reward.coinType}}
                </li>
              {{/each}}
            {{else}}
              <li>No rolls yet</li>
            {{/if}}
          </ul>
       </div>
    </div>
  </div>
</section>