<h1>Roll Dice</h1>
<p>Click one or more dice from the list below to roll them</p>
<ul class="dice-list">
  {{#each diceBag.dice as |die|}}
    <li>
      <button {{action "addDie" die}}>{{die.name}}</button>
    </li>
  {{/each}}
</ul>

<h3>Selected Dice</h3>
{{#if selectedDice}}
  <ul class="dice-list selected-dice">
    {{#each displayDice as |item index|}}
      <li>
        <button {{action "removeDie" index}}>{{item.die}}</button>
        <div class="result">{{item.result}}</div>
      </li>
    {{/each}}
  </ul>

  <button {{action "rollDice"}}>Roll Dice</button>
  <button {{action "reset"}}>Reset</button>
{{else}}
  <p>No dice selected yet. Click at least one die from the list to add it to be rolled</p>
{{/if}}
