<main class="guttered login">
  <Ui::Card @headerText="Log in" @submitAction={{this.login}}>
    <Ui::LabeledInput
      @data-test-login-username-input="true"
      @input-id="username-input"
      @label="Username"
      @required={{true}}
      @update={{fn (mut this.username)}}
    />

    <Ui::LabeledInput
      @data-test-login-password-input="true"
      @input-id="password-input"
      @label="Password"
      @required={{true}}
      @type="password"
      @update={{fn (mut this.password)}}
    />

    <Ui::ErrorContainer @content={{this.errorText}} />

    <button data-test-login-submit type="submit">
      Login
    </button>
  </Ui::Card>
</main>