<h1>Profile</h1>

<Ui::LabeledInput
  @disabled={{true}}
  @input-id="email-input"
  @label="Email"
  @value={{this.profile.email}}

  @update={{action (mut this.profile.email)}}
/>

<Ui::LabeledInput
  @disabled={{true}}
  @input-id="name-input"
  @label="Full Name"
  @value={{this.profile.name}}

  @update={{action (mut this.profile.name)}}
/>