<main class="guttered login">
  <Ui::Card @headerText="Sign up" @submitAction={{action "signUp"}}>
    <p class="card-subtitle">
      Creating an account allows you to track the treasures that you generate
    </p>
    <Ui::LabeledInput
      @data-test-login-username-input="true"
      @input-id="username-input"
      @label="Full Name"
      @required={{true}}

      @update={{action (mut model.name)}}
    />

    <Ui::LabeledInput
      @data-test-login-email-input="true"
      @input-id="email-input"
      @label="Email"
      @required={{true}}

      @update={{action (mut model.email)}}
    />

    <Ui::LabeledInput
      @data-test-login-password-input="true"
      @input-id="password-input"
      @label="Password"
      @required={{true}}
      @type="password"

      @update={{action (mut password)}}
    />

    <Ui::LabeledInput
      @data-test-login-password-confirm-input="true"
      @input-id="password-confirm-input"
      @label="Confirm Password"
      @required={{true}}
      @type="password"

      @update={{action (mut passwordConfirmation)}}
    />

    <Ui::ErrorContainer @content={{this.errorText}} />

    <button data-test-login-submit type="submit">
      Sign up
    </button>
  </Ui::Card>
</main>